html{
    background-color:black;
}
div{
    width:50%;
    margin-top:4%;
    margin-left:25%;
    border:solid white;
    padding:10px;

}
img{
    width:100%;
}
h1{
    color:white;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Libre Baskerville', serif;
}
p{
    color:white;
    text-align:center;
}